<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание комментария</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <form method="post" action="">
            {% csrf_token %}
            <p><label for="id_username">Имя:</label>
            <input type="text" name="username" maxlength="30" required id="id_username" value="{{request.user.username}}" readonly></p>
            <p><label for="id_content">Текст:</label> <textarea name="content" cols="40" rows="10" required id="id_content"></textarea></p>
            <button type="submit">Опубликовать комментарий</button>
        </form>
    {% else %}
        <form method="post" action="">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Опубликовать комментарий</button>
        </form>
    {% endif %}
</body>
</html>