<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <h1>Новости</h1>
    {% if news_list %}
        {% for news in news_list %}
            {% if news.active %}
            <h2><a href='news/{{ news.id }}/'>{{ news.title }}</a></h2>
            (Категория {{ news.tag }})
            <p>Дата создания: {{ news.created_at }}</p>
            <p>{{ news.content }}</p>
            <p>Дата обновления: {{ news.updated_at }}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>Новостей нет</h2>    
    {% endif %}
    
    <! кнопка с ссылкой при выполнении условия:!>
    <! если есть разрешение на создание новости!>
    <! то есть если ты верифицированный пользователь!>
    {% if perms.newspaper.add_news %}
    <a href='create/'><button>Добавить новость</button></a>
    {% endif %}
</body>
</html>