<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Новости</h1>
    <! на изначальной странице данные !>
    <! отсортированны по новизне по умолчанию !>
    <! из модели, поэтому кпопка неюзабельная !>
    <p>Сортировать по дате публикации:
    <button><a href="?sorted=0">Сначала новые</a> </button> | 
    <button><a href="?sorted=1">Сначала старые</a></button></p>
    {% if tags %}
        <p>Сортировать по тегам: <a href="/newspaper">Все</a> |
            {% for tag in tags %}
               <a href="/newspaper/tag/{{ tag.id }}/">{{ tag.title }}</a> |
            {% endfor %}
        </p>
    {% endif %}
    {% if news_list %}
        {% for news in news_list %}
            <h2><a href='news/{{ news.id }}/'>{{ news.title }}</a></h2>
            <i>(Категория: {{ news.tag }})</i>
            <p>Дата создания: {{ news.created_at }}</p>
            <p>{{ news.content }}</p>
            <p>Дата обновления: {{ news.updated_at }}</p>
        {% endfor %}
    {% else %}
        <h2>Новостей нет</h2>    
    {% endif %}
    
    <! кнопка с ссылкой при выполнении условия:!>
    <! если есть разрешение на создание новости!>
    <! то есть если ты верифицированный пользователь!>
    {% if perms.newspaper.add_news %}
    <a href='/newspaper/create/'><button>Добавить новость</button></a>
    {% endif %}
</body>
</html>