<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <! те же новости из index, только отсортированные в обратном порядке !>
    <h1>Новости</h1>
    <! данные отсортированны по дате по убыванию !>
    <! поэтому кпопка "страые" неюзабельная !>
    <p>Сортировать по дате публикации:
    <button><a href="/newspaper/">Сначала новые</a></button> |
    <button type="button" disabled>Сначала старые</button></p>
    {% if tags %}
    <p>Сортировать по тегам: 
        {% for tag in tags %}
           <a href="/newspaper/tag/{{ tag.id }}/">{{ tag.title }}</a> |
        {% endfor %}
    </p>
    {% endif %}
    {% if news_list %}
        {% for news in news_list %}
            <h2><a href='/newspaper/news/{{ news.id }}/'>{{ news.title }}</a></h2>
            <i>(Категория: {{ news.tag }})</i>
            <p>Дата создания: {{ news.created_at }}</p>
            <p>{{ news.content }}</p>
            <p>Дата обновления: {{ news.updated_at }}</p>
        {% endfor %}
    {% else %}
        <h2>Новостей нет</h2>    
    {% endif %}
    
    <! кнопка с ссылкой при выполнении условия:!>
    <! если есть разрешение на создание новости!>
    <! то есть если ты верифицированный пользователь!>
    {% if perms.newspaper.add_news %}
    <a href='/newspaper/create/'><button>Добавить новость</button></a>
    {% endif %}
</body>
</html>