<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль {{ request.user.username }} </title>
</head>
<body>
    <p>Имя: {{ request.user.first_name }}</p>
    <p>Фамилия: {{ request.user.last_name }}</p>
    <p>Телефон: {{ request.user.profile.phone }}</p>
    {% if request.user.profile.is_verify %}
        <p>Верификация: есть</p>
    {% else %}
        <p>Верификация: нет</p>
    {% endif %}
    <p>Число публицкаций: {{ request.user.profile.num_of_news }}</p>
</body>
</html>